
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tabela de promoções</h2>

<div class="panel-body">
    <div class="col-md-12 form-group">
        <div class="col-md-12">
            <table class="table table-striped table-hover ">
                <tr>
                    <th>Promoção</th>
                    <th> </th>
                </tr>
                <tr>
                    <td>Light</td>
                    <td>Se o lanche tem alface e não tem bacon, ganha 10% de desconto</td>
                </tr>
                <tr>
                    <td>Muita carne</td>
                    <td>A cada 3 porções de carne, você só paga 2. Se o lanche tiver 6 porções, você só pagará 4 e assim por diante</td>
                </tr>
                <tr>
                    <td>Muito queijo</td>
                    <td>A cada 3 porções de queijo, você só paga 2. Se o lanche tiver 6 porções, você só pagará 4 e assim por diante</td>
                </tr>
            </table>
        </div>
    </div>
</div>